.App {
    margin: auto;
}

html {
    scroll-behavior: smooth;
}

[id] {
    scroll-margin-top: 100px;
}

.about img {
    display: block;
    margin: auto;
}

.contact .text-area {
    margin: auto;
    align-items: center;
    align-content: center;
}
