.App {
    margin: auto;
}

html {
    scroll-behavior: smooth;
}

[id] {
    scroll-margin-top: 100px;
}

.section .scheme {
    padding: 4rem;
}

.about img {
    display: block;
    margin: auto;
}

.footer {
    padding: 4rem;
}

.contact .text-area {
    margin: auto;
    align-items: center;
    align-content: center;
}

@media (max-width: 500px) {
    .section .scheme {
        padding: 2rem;
    }
}
