.App {
    margin: auto;
}

.section .scheme {
    padding: 4rem;
}

.about img {
    display: block;
    margin: auto;
}

.footer {
    padding: 4rem;
}

.contact .text-area {
    margin: auto;
    align-items: center;
    align-content: center;
}
